modules/samples/getting_started/resources/wadl/CD_store.wadl

<?xml version="1.0" encoding="ISO-8859-1" ?>

<application xmlns="http://wadl.dev.java.net/2009/02" xmlns:ns="http://CD_store">
 <resources base="http://localhost:8080/">
   <resource path="/cdstore/{id}">
     <param name="id" style="template"/>
     <method name="GET">
      <response>
       <representation mediaType="application/xml" element="ns:theCD"/>
      </response>
    </method>
   </resource>
   <resource path="/cds">
      <resource path="/cdstore/{id}">
        <param name="id" style="template"/>
        <method name="GET">
          <response>
           <representation mediaType="application/xml" element="ns:theCD"/>
          </response>
        </method>
      </resource>
   </resource>
 </resources>
 <grammars>
  <xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" 
        xmlns:tns="http://CD_store" attributeFormDefault="unqualified" elementFormDefault="unqualified" 
        targetNamespace="http://CD_store">
    <xs:element name="theCD" type="tns:cd"/>
    <xs:complexType name="cd">
        <xs:sequence>
            <xs:element minOccurs="0" ref="tns:thechapter"/>
            <xs:element name="id" type="xs:int"/>
        </xs:sequence>
    </xs:complexType>
  </xs:schema>
 </grammars>
  
</application>

