modules/samples/getting_started/resources/wadl/Employee.wadl

<?xml version="1.0" encoding="UTF-8"?>
<application xmlns="http://wadl.dev.java.net/2009/02" xmlns:xs="http://www.w3.org/2001/XMLSchema">
   <resources base="http://localhost/cxf/">
      <resource path="/WSO2">
         <method name="GET">
            <response>
               <representation mediaType="text/plain">
                  <param name="result" style="plain" type="xs:string" />
               </representation>
            </response>
         </method>
         <resource path="/{id}/{name}/{position}/{team}">
            <param name="id" style="template" type="xs:int" />
            <param name="name" style="template" type="xs:string" />
            <param name="position" style="template" type="xs:string" />
            <param name="team" style="template" type="xs:string" />
            <method name="GET">
               <request />
               <response>
                  <representation mediaType="application/text">
                     <param name="result" style="plain" type="xs:string" />
                  </representation>
               </response>
            </method>
         </resource>
      </resource>
   </resources>
</application>
