modules/samples/getting_started/resources/BuyMore.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://www.wso2.org/BuyMore/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="BuyMore" targetNamespace="http://www.wso2.org/BuyMore/">
    <wsdl:types>
        <xsd:schema targetNamespace="http://www.wso2.org/BuyMore/">
            <xsd:element name="Calculate">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="itemTotal" type="xsd:string"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="CalculateResponse">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="billTotal" type="xsd:string"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
        </xsd:schema>
    </wsdl:types>
    <wsdl:message name="CalculateRequest">
        <wsdl:part element="tns:Calculate" name="itemTotal" />
    </wsdl:message>
    <wsdl:message name="CalculateResponse">
        <wsdl:part element="tns:CalculateResponse" name="billTotal"/>
    </wsdl:message>
    <wsdl:portType name="BuyMore">
        <wsdl:operation name="Calculate">
            <wsdl:input message="tns:CalculateRequest"/>
            <wsdl:output message="tns:CalculateResponse"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="BuyMoreSOAP" type="tns:BuyMore">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="Calculate">
            <soap:operation soapAction="http://www.wso2.org/BuyMore/Calculate"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="BuyMore">
        <wsdl:port binding="tns:BuyMoreSOAP" name="BuyMoreSOAP">
            <soap:address location="http://www.wso2.org/"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>