modules/samples/dotnet/WSO2/WSO2/Service References/Authentication/AuthenticationAdmin.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:ax233="http://management.clustering.axis2.apache.org/xsd" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:ax236="http://state.clustering.axis2.apache.org/xsd" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:ns="http://authentication.services.core.carbon.wso2.org" xmlns:ax247="http://securevault.wso2.org/xsd" xmlns:ax272="http://soap.axiom.apache.org/xsd" xmlns:ns1="http://org.apache.axis2/xsd" xmlns:ax221="http://lifecycle.attachments.axiom.apache.org/xsd" xmlns:ax273="http://om.axiom.apache.org/xsd" xmlns:ax226="http://clustering.axis2.apache.org/xsd" xmlns:ax225="http://engine.axis2.apache.org/xsd" xmlns:ax224="http://description.axis2.apache.org/xsd" xmlns:ax229="http://threadpool.util.axis2.apache.org/xsd" xmlns:ax281="http://client.axis2.apache.org/xsd" xmlns:ax278="http://addressing.axis2.apache.org/xsd" xmlns:ax213="http://authentication.services.core.carbon.wso2.org/xsd" xmlns:ax211="http://common.core.carbon.wso2.org/xsd" xmlns:ax217="http://io.java/xsd" xmlns:ax216="http://attachments.axiom.apache.org/xsd" xmlns:ax215="http://context.axis2.apache.org/xsd" xmlns:ax260="http://neethi.apache.org/xsd" xmlns:ax267="http://constants.schema.commons.ws.apache.org/xsd" xmlns:ax265="http://dom.w3c.org/xsd" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:ax251="http://transaction.axis2.apache.org/xsd" xmlns:ax257="http://java2wsdl.description.axis2.apache.org/xsd" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:ax219="http://util.java/xsd" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:ax263="http://schema.commons.ws.apache.org/xsd" xmlns:ax242="http://util.deployment.axis2.apache.org/xsd" xmlns:ax283="http://transport.axis2.apache.org/xsd" xmlns:ax245="http://net.java/xsd" xmlns:ax249="http://util.axis2.apache.org/xsd" targetNamespace="http://authentication.services.core.carbon.wso2.org" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:documentation>AuthenticationAdmin</wsdl:documentation>
  <wsdl:types>
    <xs:schema attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://transaction.axis2.apache.org/xsd">
      <xs:complexType name="TransactionConfiguration">
        <xs:sequence>
          <xs:element minOccurs="0" name="transactionManager" nillable="true" type="xs:anyType" />
          <xs:element minOccurs="0" name="transactionTimeout" type="xs:int" />
          <xs:element minOccurs="0" name="userTransaction" nillable="true" type="xs:anyType" />
        </xs:sequence>
      </xs:complexType>
    </xs:schema>
    <xs:schema xmlns:ax261="http://util.java/xsd" attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://neethi.apache.org/xsd">
      <xs:import namespace="http://util.java/xsd" />
      <xs:complexType name="AbstractPolicyOperator" abstract="true">
        <xs:sequence>
          <xs:element minOccurs="0" name="empty" type="xs:boolean" />
          <xs:element minOccurs="0" name="firstPolicyComponent" nillable="true" type="ax260:PolicyComponent" />
          <xs:element minOccurs="0" name="policyComponents" nillable="true" type="xs:anyType" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="PolicyComponent" abstract="true">
        <xs:sequence>
          <xs:element minOccurs="0" name="type" type="xs:short" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="All">
        <xs:complexContent mixed="false">
          <xs:extension base="ax260:AbstractPolicyOperator">
            <xs:sequence>
              <xs:element minOccurs="0" name="assertions" nillable="true" type="xs:anyType" />
              <xs:element minOccurs="0" name="type" type="xs:short" />
            </xs:sequence>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>
      <xs:complexType name="Policy">
        <xs:complexContent mixed="false">
          <xs:extension base="ax260:All">
            <xs:sequence>
              <xs:element minOccurs="0" name="alternatives" nillable="true" type="ax261:Iterator" />
              <xs:element minOccurs="0" name="attributes" nillable="true" type="ax261:Map" />
              <xs:element minOccurs="0" name="id" nillable="true" type="xs:string" />
              <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
              <xs:element minOccurs="0" name="type" type="xs:short" />
            </xs:sequence>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>
    </xs:schema>
    <xs:schema attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://constants.schema.commons.ws.apache.org/xsd">
      <xs:complexType name="Enum" abstract="true">
        <xs:sequence>
          <xs:element minOccurs="0" name="value" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
    </xs:schema>
    <xs:schema attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://threadpool.util.axis2.apache.org/xsd">
      <xs:complexType name="ThreadFactory" abstract="true">
        <xs:sequence />
      </xs:complexType>
    </xs:schema>
    <xs:schema xmlns:ax268="http://constants.schema.commons.ws.apache.org/xsd" xmlns:ax266="http://dom.w3c.org/xsd" xmlns:ax264="http://util.java/xsd" attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://schema.commons.ws.apache.org/xsd">
      <xs:import namespace="http://util.java/xsd" />
      <xs:import namespace="http://dom.w3c.org/xsd" />
      <xs:import namespace="http://constants.schema.commons.ws.apache.org/xsd" />
      <xs:complexType name="XmlSchemaObject" abstract="true">
        <xs:sequence>
          <xs:element minOccurs="0" name="lineNumber" type="xs:int" />
          <xs:element minOccurs="0" name="linePosition" type="xs:int" />
          <xs:element minOccurs="0" name="metaInfoMap" nillable="true" type="ax264:Map" />
          <xs:element minOccurs="0" name="sourceURI" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="XmlSchemaAnnotated">
        <xs:complexContent mixed="false">
          <xs:extension base="ax263:XmlSchemaObject">
            <xs:sequence>
              <xs:element minOccurs="0" name="annotation" nillable="true" type="ax263:XmlSchemaAnnotation" />
              <xs:element minOccurs="0" name="id" nillable="true" type="xs:string" />
              <xs:element minOccurs="0" maxOccurs="unbounded" name="unhandledAttributes" nillable="true" type="ax266:Attr" />
            </xs:sequence>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>
      <xs:complexType name="XmlSchemaAnnotation">
        <xs:complexContent mixed="false">
          <xs:extension base="ax263:XmlSchemaObject">
            <xs:sequence>
              <xs:element minOccurs="0" name="items" nillable="true" type="ax263:XmlSchemaObjectCollection" />
            </xs:sequence>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>
      <xs:complexType name="XmlSchemaObjectCollection">
        <xs:sequence>
          <xs:element minOccurs="0" name="count" type="xs:int" />
          <xs:element minOccurs="0" name="iterator" nillable="true" type="ax264:Iterator" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="XmlSchemaParticle">
        <xs:complexContent mixed="false">
          <xs:extension base="ax263:XmlSchemaAnnotated">
            <xs:sequence>
              <xs:element minOccurs="0" name="maxOccurs" type="xs:long" />
              <xs:element minOccurs="0" name="minOccurs" type="xs:long" />
            </xs:sequence>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>
      <xs:complexType name="XmlSchemaElement">
        <xs:complexContent mixed="false">
          <xs:extension base="ax263:XmlSchemaParticle">
            <xs:sequence>
              <xs:element minOccurs="0" name="QName" nillable="true" type="xs:anyType" />
              <xs:element minOccurs="0" name="abstract" type="xs:boolean" />
              <xs:element minOccurs="0" name="block" nillable="true" type="ax263:XmlSchemaDerivationMethod" />
              <xs:element minOccurs="0" name="blockResolved" nillable="true" type="ax263:XmlSchemaDerivationMethod" />
              <xs:element minOccurs="0" name="constraints" nillable="true" type="ax263:XmlSchemaObjectCollection" />
              <xs:element minOccurs="0" name="defaultValue" nillable="true" type="xs:string" />
              <xs:element minOccurs="0" name="elementType" nillable="true" type="xs:anyType" />
              <xs:element minOccurs="0" name="final" nillable="true" type="ax263:XmlSchemaDerivationMethod" />
              <xs:element minOccurs="0" name="fixedValue" nillable="true" type="xs:string" />
              <xs:element minOccurs="0" name="form" nillable="true" type="ax263:XmlSchemaForm" />
              <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
              <xs:element minOccurs="0" name="nillable" type="xs:boolean" />
              <xs:element minOccurs="0" name="refName" nillable="true" type="xs:anyType" />
              <xs:element minOccurs="0" name="schemaType" nillable="true" type="ax263:XmlSchemaType" />
              <xs:element minOccurs="0" name="schemaTypeName" nillable="true" type="xs:anyType" />
              <xs:element minOccurs="0" name="substitutionGroup" nillable="true" type="xs:anyType" />
              <xs:element minOccurs="0" name="type" nillable="true" type="ax263:XmlSchemaType" />
            </xs:sequence>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>
      <xs:complexType name="XmlSchemaDerivationMethod">
        <xs:complexContent mixed="false">
          <xs:extension base="ax268:Enum">
            <xs:sequence>
              <xs:element minOccurs="0" maxOccurs="unbounded" name="values" nillable="true" type="xs:string" />
            </xs:sequence>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>
      <xs:complexType name="XmlSchemaForm">
        <xs:complexContent mixed="false">
          <xs:extension base="ax268:Enum">
            <xs:sequence>
              <xs:element minOccurs="0" maxOccurs="unbounded" name="values" nillable="true" type="xs:string" />
            </xs:sequence>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>
      <xs:complexType name="XmlSchemaType">
        <xs:complexContent mixed="false">
          <xs:extension base="ax263:XmlSchemaAnnotated">
            <xs:sequence>
              <xs:element minOccurs="0" name="QName" nillable="true" type="xs:anyType" />
              <xs:element minOccurs="0" name="baseSchemaType" nillable="true" type="xs:anyType" />
              <xs:element minOccurs="0" name="baseSchemaTypeName" nillable="true" type="xs:anyType" />
              <xs:element minOccurs="0" name="dataType" nillable="true" type="ax263:XmlSchemaDatatype" />
              <xs:element minOccurs="0" name="deriveBy" nillable="true" type="ax263:XmlSchemaDerivationMethod" />
              <xs:element minOccurs="0" name="final" nillable="true" type="ax263:XmlSchemaDerivationMethod" />
              <xs:element minOccurs="0" name="finalResolved" nillable="true" type="ax263:XmlSchemaDerivationMethod" />
              <xs:element minOccurs="0" name="mixed" type="xs:boolean" />
              <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
            </xs:sequence>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>
      <xs:complexType name="XmlSchemaDatatype" abstract="true">
        <xs:sequence />
      </xs:complexType>
    </xs:schema>
    <xs:schema attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://util.axis2.apache.org/xsd">
      <xs:complexType name="TargetResolver" abstract="true">
        <xs:sequence />
      </xs:complexType>
    </xs:schema>
    <xs:schema attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://lifecycle.attachments.axiom.apache.org/xsd">
      <xs:complexType name="LifecycleManager" abstract="true">
        <xs:sequence />
      </xs:complexType>
    </xs:schema>
    <xs:schema xmlns:ax275="http://util.java/xsd" xmlns:ax274="http://om.axiom.apache.org/xsd" attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://soap.axiom.apache.org/xsd">
      <xs:import namespace="http://om.axiom.apache.org/xsd" />
      <xs:import namespace="http://util.java/xsd" />
      <xs:complexType name="SOAPEnvelope" abstract="true">
        <xs:sequence>
          <xs:element minOccurs="0" name="SOAPBodyFirstElementLocalName" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="SOAPBodyFirstElementNS" nillable="true" type="ax274:OMNamespace" />
          <xs:element minOccurs="0" name="body" nillable="true" type="ax272:SOAPBody" />
          <xs:element minOccurs="0" name="header" nillable="true" type="ax272:SOAPHeader" />
          <xs:element minOccurs="0" name="version" nillable="true" type="ax272:SOAPVersion" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="SOAPBody" abstract="true">
        <xs:sequence>
          <xs:element minOccurs="0" name="fault" nillable="true" type="ax272:SOAPFault" />
          <xs:element minOccurs="0" name="firstElementLocalName" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="firstElementNS" nillable="true" type="ax274:OMNamespace" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="SOAPFault" abstract="true">
        <xs:sequence>
          <xs:element minOccurs="0" name="code" nillable="true" type="ax272:SOAPFaultCode" />
          <xs:element minOccurs="0" name="detail" nillable="true" type="ax272:SOAPFaultDetail" />
          <xs:element minOccurs="0" name="exception" nillable="true" />
          <xs:element minOccurs="0" name="node" nillable="true" type="ax272:SOAPFaultNode" />
          <xs:element minOccurs="0" name="reason" nillable="true" type="ax272:SOAPFaultReason" />
          <xs:element minOccurs="0" name="role" nillable="true" type="ax272:SOAPFaultRole" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="SOAPFaultCode" abstract="true">
        <xs:sequence />
      </xs:complexType>
      <xs:complexType name="SOAPFaultDetail" abstract="true">
        <xs:sequence>
          <xs:element minOccurs="0" name="allDetailEntries" nillable="true" type="ax275:Iterator" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="SOAPFaultNode" abstract="true">
        <xs:sequence>
          <xs:element minOccurs="0" name="nodeValue" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="SOAPFaultReason" abstract="true">
        <xs:sequence>
          <xs:element minOccurs="0" name="allSoapTexts" nillable="true" type="xs:anyType" />
          <xs:element minOccurs="0" name="firstSOAPText" nillable="true" type="ax272:SOAPFaultText" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="SOAPFaultText" abstract="true">
        <xs:sequence>
          <xs:element minOccurs="0" name="lang" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="SOAPFaultRole" abstract="true">
        <xs:sequence>
          <xs:element minOccurs="0" name="roleValue" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="SOAPHeader" abstract="true">
        <xs:sequence />
      </xs:complexType>
      <xs:complexType name="SOAPVersion" abstract="true">
        <xs:sequence>
          <xs:element minOccurs="0" name="encodingURI" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="envelopeURI" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="faultCodeQName" nillable="true" type="xs:anyType" />
          <xs:element minOccurs="0" name="faultDetailQName" nillable="true" type="xs:anyType" />
          <xs:element minOccurs="0" name="faultReasonQName" nillable="true" type="xs:anyType" />
          <xs:element minOccurs="0" name="faultRoleQName" nillable="true" type="xs:anyType" />
          <xs:element minOccurs="0" name="mustUnderstandFaultCode" nillable="true" type="xs:anyType" />
          <xs:element minOccurs="0" name="nextRoleURI" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="receiverFaultCode" nillable="true" type="xs:anyType" />
          <xs:element minOccurs="0" name="roleAttributeQName" nillable="true" type="xs:anyType" />
          <xs:element minOccurs="0" name="senderFaultCode" nillable="true" type="xs:anyType" />
        </xs:sequence>
      </xs:complexType>
    </xs:schema>
    <xs:schema xmlns:ax222="http://lifecycle.attachments.axiom.apache.org/xsd" xmlns:ax218="http://io.java/xsd" xmlns:ax220="http://util.java/xsd" attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://attachments.axiom.apache.org/xsd">
      <xs:import namespace="http://io.java/xsd" />
      <xs:import namespace="http://util.java/xsd" />
      <xs:import namespace="http://lifecycle.attachments.axiom.apache.org/xsd" />
      <xs:complexType name="Attachments">
        <xs:sequence>
          <xs:element minOccurs="0" name="SOAPPartContentID" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="SOAPPartContentType" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="SOAPPartInputStream" nillable="true" type="ax218:InputStream" />
          <xs:element minOccurs="0" maxOccurs="unbounded" name="allContentIDs" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="attachmentSpecType" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="contentIDList" nillable="true" type="xs:anyType" />
          <xs:element minOccurs="0" name="contentIDSet" nillable="true" type="ax220:Set" />
          <xs:element minOccurs="0" name="contentLength" type="xs:long" />
          <xs:element minOccurs="0" name="incomingAttachmentStreams" nillable="true" type="ax216:IncomingAttachmentStreams" />
          <xs:element minOccurs="0" name="incomingAttachmentsAsSingleStream" nillable="true" type="ax218:InputStream" />
          <xs:element minOccurs="0" name="lifecycleManager" nillable="true" type="ax222:LifecycleManager" />
          <xs:element minOccurs="0" name="map" nillable="true" type="ax220:Map" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="IncomingAttachmentStreams" abstract="true">
        <xs:sequence>
          <xs:element minOccurs="0" name="nextStream" nillable="true" type="ax216:IncomingAttachmentInputStream" />
          <xs:element minOccurs="0" name="readyToGetNextStream" type="xs:boolean" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="IncomingAttachmentInputStream">
        <xs:complexContent mixed="false">
          <xs:extension base="ax218:InputStream">
            <xs:sequence>
              <xs:element minOccurs="0" name="contentId" nillable="true" type="xs:string" />
              <xs:element minOccurs="0" name="contentLocation" nillable="true" type="xs:string" />
              <xs:element minOccurs="0" name="contentType" nillable="true" type="xs:string" />
              <xs:element minOccurs="0" name="headers" nillable="true" type="ax220:Map" />
            </xs:sequence>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>
    </xs:schema>
    <xs:schema attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://common.core.carbon.wso2.org/xsd">
      <xs:complexType name="AuthenticationException">
        <xs:sequence>
          <xs:element minOccurs="0" name="uiErrorCode" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
    </xs:schema>
    <xs:schema attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://transport.axis2.apache.org/xsd">
      <xs:complexType name="TransportListener" abstract="true">
        <xs:sequence />
      </xs:complexType>
      <xs:complexType name="TransportSender" abstract="true">
        <xs:sequence />
      </xs:complexType>
    </xs:schema>
    <xs:schema attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://dom.w3c.org/xsd">
      <xs:complexType name="Attr" abstract="true">
        <xs:sequence>
          <xs:element minOccurs="0" name="id" type="xs:boolean" />
          <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="ownerElement" nillable="true" type="ax265:Element" />
          <xs:element minOccurs="0" name="schemaTypeInfo" nillable="true" type="ax265:TypeInfo" />
          <xs:element minOccurs="0" name="specified" type="xs:boolean" />
          <xs:element minOccurs="0" name="value" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="Element" abstract="true">
        <xs:sequence>
          <xs:element minOccurs="0" name="schemaTypeInfo" nillable="true" type="ax265:TypeInfo" />
          <xs:element minOccurs="0" name="tagName" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="TypeInfo" abstract="true">
        <xs:sequence>
          <xs:element minOccurs="0" name="typeName" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="typeNamespace" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
    </xs:schema>
    <xs:schema xmlns:ax282="http://addressing.axis2.apache.org/xsd" xmlns:ax287="http://description.axis2.apache.org/xsd" xmlns:ax284="http://transport.axis2.apache.org/xsd" attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://client.axis2.apache.org/xsd">
      <xs:import namespace="http://addressing.axis2.apache.org/xsd" />
      <xs:import namespace="http://transport.axis2.apache.org/xsd" />
      <xs:import namespace="http://description.axis2.apache.org/xsd" />
      <xs:complexType name="Options">
        <xs:sequence>
          <xs:element minOccurs="0" name="action" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="callTransportCleanup" type="xs:boolean" />
          <xs:element minOccurs="0" name="exceptionToBeThrownOnSOAPFault" type="xs:boolean" />
          <xs:element minOccurs="0" name="faultTo" nillable="true" type="ax282:EndpointReference" />
          <xs:element minOccurs="0" name="from" nillable="true" type="ax282:EndpointReference" />
          <xs:element minOccurs="0" name="listener" nillable="true" type="ax284:TransportListener" />
          <xs:element minOccurs="0" name="logCorrelationIDString" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="manageSession" type="xs:boolean" />
          <xs:element minOccurs="0" name="messageId" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="parent" nillable="true" type="ax281:Options" />
          <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="unbounded" name="properties" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="relatesTo" nillable="true" type="ax282:RelatesTo" />
          <xs:element minOccurs="0" maxOccurs="unbounded" name="relationships" nillable="true" type="ax282:RelatesTo" />
          <xs:element minOccurs="0" name="replyTo" nillable="true" type="ax282:EndpointReference" />
          <xs:element minOccurs="0" name="soapVersionURI" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="timeOutInMilliSeconds" type="xs:long" />
          <xs:element minOccurs="0" name="to" nillable="true" type="ax282:EndpointReference" />
          <xs:element minOccurs="0" name="transportIn" nillable="true" type="ax287:TransportInDescription" />
          <xs:element minOccurs="0" name="transportInProtocol" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="transportOut" nillable="true" type="ax287:TransportOutDescription" />
          <xs:element minOccurs="0" name="useSeparateListener" type="xs:boolean" />
          <xs:element minOccurs="0" name="userName" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
    </xs:schema>
    <xs:schema attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://util.java/xsd">
      <xs:complexType name="Set" abstract="true">
        <xs:sequence>
          <xs:element minOccurs="0" name="empty" type="xs:boolean" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="Map" abstract="true">
        <xs:sequence>
          <xs:element minOccurs="0" name="empty" type="xs:boolean" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="Iterator" abstract="true">
        <xs:sequence />
      </xs:complexType>
      <xs:complexType name="LinkedList">
        <xs:sequence>
          <xs:element minOccurs="0" name="first" nillable="true" type="xs:anyType" />
          <xs:element minOccurs="0" name="last" nillable="true" type="xs:anyType" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="LinkedHashMap">
        <xs:sequence />
      </xs:complexType>
    </xs:schema>
    <xs:schema attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://io.java/xsd">
      <xs:complexType name="InputStream" abstract="true">
        <xs:sequence />
      </xs:complexType>
    </xs:schema>
    <xs:schema xmlns:ax234="http://context.axis2.apache.org/xsd" attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://management.clustering.axis2.apache.org/xsd">
      <xs:import namespace="http://context.axis2.apache.org/xsd" />
      <xs:complexType name="NodeManager" abstract="true">
        <xs:sequence>
          <xs:element minOccurs="0" name="configurationContext" nillable="true" type="ax234:ConfigurationContext" />
        </xs:sequence>
      </xs:complexType>
    </xs:schema>
    <xs:schema xmlns:ax255="http://util.deployment.axis2.apache.org/xsd" xmlns:ax254="http://util.java/xsd" xmlns:ax259="http://java2wsdl.description.axis2.apache.org/xsd" xmlns:ax262="http://neethi.apache.org/xsd" xmlns:ax269="http://schema.commons.ws.apache.org/xsd" xmlns:ax253="http://engine.axis2.apache.org/xsd" xmlns:ax286="http://transport.axis2.apache.org/xsd" xmlns:ax256="http://net.java/xsd" attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://description.axis2.apache.org/xsd">
      <xs:import namespace="http://engine.axis2.apache.org/xsd" />
      <xs:import namespace="http://util.java/xsd" />
      <xs:import namespace="http://util.deployment.axis2.apache.org/xsd" />
      <xs:import namespace="http://net.java/xsd" />
      <xs:import namespace="http://java2wsdl.description.axis2.apache.org/xsd" />
      <xs:import namespace="http://neethi.apache.org/xsd" />
      <xs:import namespace="http://schema.commons.ws.apache.org/xsd" />
      <xs:import namespace="http://transport.axis2.apache.org/xsd" />
      <xs:complexType name="AxisMessage">
        <xs:sequence>
          <xs:element minOccurs="0" name="axisOperation" nillable="true" type="ax224:AxisOperation" />
          <xs:element minOccurs="0" name="direction" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="effectivePolicy" nillable="true" type="ax262:Policy" />
          <xs:element minOccurs="0" name="elementQName" nillable="true" type="xs:anyType" />
          <xs:element minOccurs="0" name="extensibilityAttributes" nillable="true" type="xs:anyType" />
          <xs:element minOccurs="0" name="key" nillable="true" type="xs:anyType" />
          <xs:element minOccurs="0" name="messageFlow" nillable="true" type="xs:anyType" />
          <xs:element minOccurs="0" name="messagePartName" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="unbounded" name="modulerefs" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="partName" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="policyUpdated" type="xs:boolean" />
          <xs:element minOccurs="0" name="schemaElement" nillable="true" type="ax269:XmlSchemaElement" />
          <xs:element minOccurs="0" name="soapHeaders" nillable="true" type="xs:anyType" />
          <xs:element minOccurs="0" name="wrapped" type="xs:boolean" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="AxisOperation" abstract="true">
        <xs:sequence>
          <xs:element minOccurs="0" name="WSAMappingList" nillable="true" type="xs:anyType" />
          <xs:element minOccurs="0" name="axisService" nillable="true" type="ax224:AxisService" />
          <xs:element minOccurs="0" name="axisSpecificMEPConstant" type="xs:int" />
          <xs:element minOccurs="0" name="controlOperation" type="xs:boolean" />
          <xs:element minOccurs="0" name="faultAction" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="unbounded" name="faultActionNames" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="faultMessages" nillable="true" type="xs:anyType" />
          <xs:element minOccurs="0" name="inputAction" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="key" nillable="true" type="xs:anyType" />
          <xs:element minOccurs="0" name="messageExchangePattern" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="messageReceiver" nillable="true" type="ax253:MessageReceiver" />
          <xs:element minOccurs="0" name="messages" nillable="true" type="ax254:Iterator" />
          <xs:element minOccurs="0" name="moduleRefs" nillable="true" type="xs:anyType" />
          <xs:element minOccurs="0" name="name" nillable="true" type="xs:anyType" />
          <xs:element minOccurs="0" name="outputAction" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="phasesInFaultFlow" nillable="true" type="xs:anyType" />
          <xs:element minOccurs="0" name="phasesOutFaultFlow" nillable="true" type="xs:anyType" />
          <xs:element minOccurs="0" name="phasesOutFlow" nillable="true" type="xs:anyType" />
          <xs:element minOccurs="0" name="remainingPhasesInFlow" nillable="true" type="xs:anyType" />
          <xs:element minOccurs="0" name="soapAction" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="style" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="unbounded" name="wsamappingList" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="AxisService">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="unbounded" name="EPRs" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="WSAddressingFlag" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="active" type="xs:boolean" />
          <xs:element minOccurs="0" name="axisServiceGroup" nillable="true" type="ax224:AxisServiceGroup" />
          <xs:element minOccurs="0" name="bindingName" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="classLoader" nillable="true" type="xs:anyType" />
          <xs:element minOccurs="0" name="clientSide" type="xs:boolean" />
          <xs:element minOccurs="0" name="controlOperations" nillable="true" type="xs:anyType" />
          <xs:element minOccurs="0" name="customSchemaNamePrefix" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="customSchemaNameSuffix" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="customWsdl" type="xs:boolean" />
          <xs:element minOccurs="0" name="elementFormDefault" type="xs:boolean" />
          <xs:element minOccurs="0" name="enableAllTransports" type="xs:boolean" />
          <xs:element minOccurs="0" name="endpointName" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="endpointURL" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="endpoints" nillable="true" type="ax254:Map" />
          <xs:element minOccurs="0" name="excludeInfo" nillable="true" type="ax255:ExcludeInfo" />
          <xs:element minOccurs="0" maxOccurs="unbounded" name="exposedTransports" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="fileName" nillable="true" type="ax256:URL" />
          <xs:element minOccurs="0" name="importedNamespaces" nillable="true" type="xs:anyType" />
          <xs:element minOccurs="0" name="key" nillable="true" type="xs:anyType" />
          <xs:element minOccurs="0" name="lastUpdate" type="xs:long" />
          <xs:element minOccurs="0" name="lastupdate" type="xs:long" />
          <xs:element minOccurs="0" maxOccurs="unbounded" name="messageElementQNameToOperationMap" nillable="true" type="xs:anyType" />
          <xs:element minOccurs="0" name="modifyUserWSDLPortAddress" type="xs:boolean" />
          <xs:element minOccurs="0" name="modules" nillable="true" type="xs:anyType" />
          <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="nameSpacesMap" nillable="true" type="ax254:Map" />
          <xs:element minOccurs="0" name="namespaceMap" nillable="true" type="ax254:Map" />
          <xs:element minOccurs="0" name="objectSupplier" nillable="true" type="ax253:ObjectSupplier" />
          <xs:element minOccurs="0" name="operations" nillable="true" type="ax254:Iterator" />
          <xs:element minOccurs="0" name="operationsNameList" nillable="true" type="xs:anyType" />
          <xs:element minOccurs="0" name="p2nMap" nillable="true" type="ax254:Map" />
          <xs:element minOccurs="0" name="parent" nillable="true" type="ax224:AxisServiceGroup" />
          <xs:element minOccurs="0" name="portTypeName" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="publishedOperations" nillable="true" type="xs:anyType" />
          <xs:element minOccurs="0" name="schemaLocationsAdjusted" type="xs:boolean" />
          <xs:element minOccurs="0" name="schemaMappingTable" nillable="true" type="ax254:Map" />
          <xs:element minOccurs="0" name="schemaTargetNamespace" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="schemaTargetNamespacePrefix" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="schematargetNamespace" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="schematargetNamespacePrefix" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="scope" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="serviceDescription" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="serviceLifeCycle" nillable="true" type="ax253:ServiceLifeCycle" />
          <xs:element minOccurs="0" name="setEndpointsToAllUsedBindings" type="xs:boolean" />
          <xs:element minOccurs="0" name="soapNsUri" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="targetNamespace" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="targetNamespacePrefix" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="typeTable" nillable="true" type="ax259:TypeTable" />
          <xs:element minOccurs="0" name="useDefaultChains" type="xs:boolean" />
          <xs:element minOccurs="0" name="useUserWSDL" type="xs:boolean" />
          <xs:element minOccurs="0" name="wsdlFound" type="xs:boolean" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="AxisServiceGroup">
        <xs:sequence>
          <xs:element minOccurs="0" name="axisDescription" nillable="true" type="ax253:AxisConfiguration" />
          <xs:element minOccurs="0" name="foundWebResources" type="xs:boolean" />
          <xs:element minOccurs="0" name="key" nillable="true" type="xs:anyType" />
          <xs:element minOccurs="0" name="moduleRefs" nillable="true" type="xs:anyType" />
          <xs:element minOccurs="0" name="serviceGroupClassLoader" nillable="true" type="xs:anyType" />
          <xs:element minOccurs="0" name="serviceGroupName" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="services" nillable="true" type="ax254:Iterator" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="TransportInDescription">
        <xs:sequence>
          <xs:element minOccurs="0" name="faultFlow" nillable="true" type="ax224:Flow" />
          <xs:element minOccurs="0" name="faultPhase" nillable="true" type="ax253:Phase" />
          <xs:element minOccurs="0" name="inFlow" nillable="true" type="ax224:Flow" />
          <xs:element minOccurs="0" name="inPhase" nillable="true" type="ax253:Phase" />
          <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="parameters" nillable="true" type="xs:anyType" />
          <xs:element minOccurs="0" name="receiver" nillable="true" type="ax286:TransportListener" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="Flow">
        <xs:sequence>
          <xs:element minOccurs="0" name="handlerCount" type="xs:int" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="HandlerDescription">
        <xs:sequence>
          <xs:element minOccurs="0" name="className" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="handler" nillable="true" type="ax253:Handler" />
          <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="parameters" nillable="true" type="xs:anyType" />
          <xs:element minOccurs="0" name="parent" nillable="true" type="ax224:ParameterInclude" />
          <xs:element minOccurs="0" name="rules" nillable="true" type="ax224:PhaseRule" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="ParameterInclude" abstract="true">
        <xs:sequence>
          <xs:element minOccurs="0" name="parameters" nillable="true" type="xs:anyType" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="PhaseRule">
        <xs:sequence>
          <xs:element minOccurs="0" name="after" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="before" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="phaseFirst" type="xs:boolean" />
          <xs:element minOccurs="0" name="phaseLast" type="xs:boolean" />
          <xs:element minOccurs="0" name="phaseName" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="TransportOutDescription">
        <xs:sequence>
          <xs:element minOccurs="0" name="faultFlow" nillable="true" type="ax224:Flow" />
          <xs:element minOccurs="0" name="faultPhase" nillable="true" type="ax253:Phase" />
          <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="outFlow" nillable="true" type="ax224:Flow" />
          <xs:element minOccurs="0" name="outPhase" nillable="true" type="ax253:Phase" />
          <xs:element minOccurs="0" name="parameters" nillable="true" type="xs:anyType" />
          <xs:element minOccurs="0" name="sender" nillable="true" type="ax286:TransportSender" />
        </xs:sequence>
      </xs:complexType>
    </xs:schema>
    <xs:schema attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://om.axiom.apache.org/xsd">
      <xs:complexType name="OMNamespace" abstract="true">
        <xs:sequence>
          <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="namespaceURI" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="prefix" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
    </xs:schema>
    <xs:schema xmlns:ax289="http://context.axis2.apache.org/xsd" xmlns:ax214="http://authentication.services.core.carbon.wso2.org/xsd" xmlns:ax212="http://common.core.carbon.wso2.org/xsd" attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://authentication.services.core.carbon.wso2.org">
      <xs:import namespace="http://common.core.carbon.wso2.org/xsd" />
      <xs:import namespace="http://authentication.services.core.carbon.wso2.org/xsd" />
      <xs:import namespace="http://context.axis2.apache.org/xsd" />
      <xs:element name="AuthenticationAdminAuthenticationException">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" name="AuthenticationException" nillable="true" type="ax212:AuthenticationException" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="logout">
        <xs:complexType>
          <xs:sequence />
        </xs:complexType>
      </xs:element>
      <xs:element name="loginWithRememberMeOption">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" name="username" nillable="true" type="xs:string" />
            <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
            <xs:element minOccurs="0" name="remoteAddress" nillable="true" type="xs:string" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="loginWithRememberMeOptionResponse">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" name="return" nillable="true" type="ax214:RememberMeData" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="loginWithRememberMeCookie">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" name="cookie" nillable="true" type="xs:string" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="loginWithRememberMeCookieResponse">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" name="return" type="xs:boolean" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="login">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" name="username" nillable="true" type="xs:string" />
            <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
            <xs:element minOccurs="0" name="remoteAddress" nillable="true" type="xs:string" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="loginResponse">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" name="return" type="xs:boolean" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="isDisabled">
        <xs:complexType>
          <xs:sequence />
        </xs:complexType>
      </xs:element>
      <xs:element name="isDisabledResponse">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" name="return" type="xs:boolean" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="getPriority">
        <xs:complexType>
          <xs:sequence />
        </xs:complexType>
      </xs:element>
      <xs:element name="getPriorityResponse">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" name="return" type="xs:int" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="getAuthenticatorName">
        <xs:complexType>
          <xs:sequence />
        </xs:complexType>
      </xs:element>
      <xs:element name="getAuthenticatorNameResponse">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" name="return" nillable="true" type="xs:string" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="authenticateWithRememberMe">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" name="messageContext" nillable="true" type="ax289:MessageContext" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="authenticateWithRememberMeResponse">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" name="return" type="xs:boolean" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:schema>
    <xs:schema xmlns:ax270="http://description.axis2.apache.org/xsd" xmlns:ax277="http://util.java/xsd" xmlns:ax276="http://soap.axiom.apache.org/xsd" xmlns:ax288="http://client.axis2.apache.org/xsd" xmlns:ax227="http://engine.axis2.apache.org/xsd" xmlns:ax230="http://threadpool.util.axis2.apache.org/xsd" xmlns:ax280="http://addressing.axis2.apache.org/xsd" xmlns:ax223="http://attachments.axiom.apache.org/xsd" xmlns:ax271="http://neethi.apache.org/xsd" attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://context.axis2.apache.org/xsd">
      <xs:import namespace="http://attachments.axiom.apache.org/xsd" />
      <xs:import namespace="http://engine.axis2.apache.org/xsd" />
      <xs:import namespace="http://threadpool.util.axis2.apache.org/xsd" />
      <xs:import namespace="http://description.axis2.apache.org/xsd" />
      <xs:import namespace="http://neethi.apache.org/xsd" />
      <xs:import namespace="http://soap.axiom.apache.org/xsd" />
      <xs:import namespace="http://util.java/xsd" />
      <xs:import namespace="http://addressing.axis2.apache.org/xsd" />
      <xs:import namespace="http://client.axis2.apache.org/xsd" />
      <xs:complexType name="MessageContext">
        <xs:sequence>
          <xs:element minOccurs="0" name="FLOW" type="xs:int" />
          <xs:element minOccurs="0" name="SOAP11" type="xs:boolean" />
          <xs:element minOccurs="0" name="WSAAction" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="WSAMessageId" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="attachmentMap" nillable="true" type="ax223:Attachments" />
          <xs:element minOccurs="0" name="axisMessage" nillable="true" type="ax270:AxisMessage" />
          <xs:element minOccurs="0" name="axisOperation" nillable="true" type="ax270:AxisOperation" />
          <xs:element minOccurs="0" name="axisService" nillable="true" type="ax270:AxisService" />
          <xs:element minOccurs="0" name="axisServiceGroup" nillable="true" type="ax270:AxisServiceGroup" />
          <xs:element minOccurs="0" name="configurationContext" nillable="true" type="ax215:ConfigurationContext" />
          <xs:element minOccurs="0" name="currentHandlerIndex" type="xs:int" />
          <xs:element minOccurs="0" name="currentPhaseIndex" type="xs:int" />
          <xs:element minOccurs="0" name="doingMTOM" type="xs:boolean" />
          <xs:element minOccurs="0" name="doingREST" type="xs:boolean" />
          <xs:element minOccurs="0" name="doingSwA" type="xs:boolean" />
          <xs:element minOccurs="0" name="effectivePolicy" nillable="true" type="ax271:Policy" />
          <xs:element minOccurs="0" name="envelope" nillable="true" type="ax276:SOAPEnvelope" />
          <xs:element minOccurs="0" name="executedPhases" nillable="true" type="ax277:Iterator" />
          <xs:element minOccurs="0" name="executedPhasesExplicit" nillable="true" type="ax277:LinkedList" />
          <xs:element minOccurs="0" name="executionChain" nillable="true" type="xs:anyType" />
          <xs:element minOccurs="0" name="failureReason" nillable="true" />
          <xs:element minOccurs="0" name="fault" type="xs:boolean" />
          <xs:element minOccurs="0" name="faultTo" nillable="true" type="ax280:EndpointReference" />
          <xs:element minOccurs="0" name="from" nillable="true" type="ax280:EndpointReference" />
          <xs:element minOccurs="0" name="headerPresent" type="xs:boolean" />
          <xs:element minOccurs="0" name="inboundContentLength" type="xs:long" />
          <xs:element minOccurs="0" name="incomingTransportName" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="isSOAP11Explicit" type="xs:boolean" />
          <xs:element minOccurs="0" name="logCorrelationID" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="logIDString" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="messageID" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="newThreadRequired" type="xs:boolean" />
          <xs:element minOccurs="0" name="operationContext" nillable="true" type="ax215:OperationContext" />
          <xs:element minOccurs="0" name="options" nillable="true" type="ax288:Options" />
          <xs:element minOccurs="0" name="optionsExplicit" nillable="true" type="ax288:Options" />
          <xs:element minOccurs="0" name="outputWritten" type="xs:boolean" />
          <xs:element minOccurs="0" name="paused" type="xs:boolean" />
          <xs:element minOccurs="0" name="processingFault" type="xs:boolean" />
          <xs:element minOccurs="0" name="properties" nillable="true" type="ax277:Map" />
          <xs:element minOccurs="0" name="relatesTo" nillable="true" type="ax280:RelatesTo" />
          <xs:element minOccurs="0" maxOccurs="unbounded" name="relationships" nillable="true" type="ax280:RelatesTo" />
          <xs:element minOccurs="0" name="replyTo" nillable="true" type="ax280:EndpointReference" />
          <xs:element minOccurs="0" name="responseWritten" type="xs:boolean" />
          <xs:element minOccurs="0" name="rootContext" nillable="true" type="ax215:ConfigurationContext" />
          <xs:element minOccurs="0" name="selfManagedDataMapExplicit" nillable="true" type="ax277:LinkedHashMap" />
          <xs:element minOccurs="0" name="serverSide" type="xs:boolean" />
          <xs:element minOccurs="0" name="serviceContext" nillable="true" type="ax215:ServiceContext" />
          <xs:element minOccurs="0" name="serviceContextID" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="serviceGroupContext" nillable="true" type="ax215:ServiceGroupContext" />
          <xs:element minOccurs="0" name="serviceGroupContextId" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="sessionContext" nillable="true" type="ax215:SessionContext" />
          <xs:element minOccurs="0" name="soapAction" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="to" nillable="true" type="ax280:EndpointReference" />
          <xs:element minOccurs="0" name="transportIn" nillable="true" type="ax270:TransportInDescription" />
          <xs:element minOccurs="0" name="transportOut" nillable="true" type="ax270:TransportOutDescription" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="ConfigurationContext">
        <xs:sequence>
          <xs:element minOccurs="0" name="anyOperationContextRegistered" type="xs:boolean" />
          <xs:element minOccurs="0" name="axisConfiguration" nillable="true" type="ax227:AxisConfiguration" />
          <xs:element minOccurs="0" name="contextRoot" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="listenerManager" nillable="true" type="ax227:ListenerManager" />
          <xs:element minOccurs="0" name="rootContext" nillable="true" type="ax215:ConfigurationContext" />
          <xs:element minOccurs="0" name="serviceContextPath" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="unbounded" name="serviceGroupContextIDs" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="serviceGroupContextTimeoutInterval" type="xs:long" />
          <xs:element minOccurs="0" name="serviceGroupContextTimoutInterval" type="xs:long" />
          <xs:element minOccurs="0" name="serviceGroupContexts" nillable="true" type="xs:anyType" />
          <xs:element minOccurs="0" name="servicePath" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="threadPool" nillable="true" type="ax230:ThreadFactory" />
          <xs:element minOccurs="0" name="transportManager" nillable="true" type="ax227:ListenerManager" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="OperationContext">
        <xs:sequence>
          <xs:element minOccurs="0" name="axisOperation" nillable="true" type="ax270:AxisOperation" />
          <xs:element minOccurs="0" name="complete" type="xs:boolean" />
          <xs:element minOccurs="0" name="configurationContext" nillable="true" type="ax215:ConfigurationContext" />
          <xs:element minOccurs="0" name="key" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="logCorrelationIDString" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="unbounded" name="messageContexts" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="operationName" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="rootContext" nillable="true" type="ax215:ConfigurationContext" />
          <xs:element minOccurs="0" name="serviceContext" nillable="true" type="ax215:ServiceContext" />
          <xs:element minOccurs="0" name="serviceGroupName" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="serviceName" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="ServiceContext">
        <xs:sequence>
          <xs:element minOccurs="0" name="axisService" nillable="true" type="ax270:AxisService" />
          <xs:element minOccurs="0" name="cachingOperationContext" type="xs:boolean" />
          <xs:element minOccurs="0" name="configurationContext" nillable="true" type="ax215:ConfigurationContext" />
          <xs:element minOccurs="0" name="groupName" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="lastOperationContext" nillable="true" type="ax215:OperationContext" />
          <xs:element minOccurs="0" name="logCorrelationIDString" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="myEPR" nillable="true" type="ax280:EndpointReference" />
          <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="rootContext" nillable="true" type="ax215:ConfigurationContext" />
          <xs:element minOccurs="0" name="serviceGroupContext" nillable="true" type="ax215:ServiceGroupContext" />
          <xs:element minOccurs="0" name="targetEPR" nillable="true" type="ax280:EndpointReference" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="ServiceGroupContext">
        <xs:sequence>
          <xs:element minOccurs="0" name="description" nillable="true" type="ax270:AxisServiceGroup" />
          <xs:element minOccurs="0" name="id" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="rootContext" nillable="true" type="ax215:ConfigurationContext" />
          <xs:element minOccurs="0" name="serviceContexts" nillable="true" type="ax277:Iterator" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="SessionContext">
        <xs:sequence>
          <xs:element minOccurs="0" name="cookieID" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="lastTouchedTime" type="xs:long" />
          <xs:element minOccurs="0" name="rootContext" nillable="true" type="ax215:ConfigurationContext" />
          <xs:element minOccurs="0" name="serviceGroupContext" nillable="true" type="ax277:Iterator" />
        </xs:sequence>
      </xs:complexType>
    </xs:schema>
    <xs:schema xmlns:ax243="http://description.axis2.apache.org/xsd" attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://util.deployment.axis2.apache.org/xsd">
      <xs:import namespace="http://description.axis2.apache.org/xsd" />
      <xs:complexType name="PhasesInfo">
        <xs:sequence>
          <xs:element minOccurs="0" name="INPhases" nillable="true" type="xs:anyType" />
          <xs:element minOccurs="0" name="IN_FaultPhases" nillable="true" type="xs:anyType" />
          <xs:element minOccurs="0" name="OUTPhases" nillable="true" type="xs:anyType" />
          <xs:element minOccurs="0" name="OUT_FaultPhases" nillable="true" type="xs:anyType" />
          <xs:element minOccurs="0" name="globalInFaultPhases" nillable="true" type="xs:anyType" />
          <xs:element minOccurs="0" name="globalInflow" nillable="true" type="xs:anyType" />
          <xs:element minOccurs="0" name="globalOutPhaseList" nillable="true" type="xs:anyType" />
          <xs:element minOccurs="0" name="operationInFaultPhases" nillable="true" type="xs:anyType" />
          <xs:element minOccurs="0" name="operationInPhases" nillable="true" type="xs:anyType" />
          <xs:element minOccurs="0" name="operationOutFaultPhases" nillable="true" type="xs:anyType" />
          <xs:element minOccurs="0" name="operationOutPhases" nillable="true" type="xs:anyType" />
          <xs:element minOccurs="0" name="operationPhases" nillable="true" type="ax243:AxisOperation" />
          <xs:element minOccurs="0" name="outFaultPhaseList" nillable="true" type="xs:anyType" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="ExcludeInfo">
        <xs:sequence />
      </xs:complexType>
    </xs:schema>
    <xs:schema attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://net.java/xsd">
      <xs:complexType name="URL">
        <xs:sequence>
          <xs:element minOccurs="0" name="authority" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="content" nillable="true" type="xs:anyType" />
          <xs:element minOccurs="0" name="defaultPort" type="xs:int" />
          <xs:element minOccurs="0" name="file" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="host" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="path" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="port" type="xs:int" />
          <xs:element minOccurs="0" name="protocol" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="query" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="ref" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="userInfo" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
    </xs:schema>
    <xs:schema xmlns:ax279="http://util.java/xsd" attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://addressing.axis2.apache.org/xsd">
      <xs:import namespace="http://util.java/xsd" />
      <xs:complexType name="EndpointReference">
        <xs:sequence>
          <xs:element minOccurs="0" name="WSAddressingAnonymous" type="xs:boolean" />
          <xs:element minOccurs="0" name="address" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="addressAttributes" nillable="true" type="xs:anyType" />
          <xs:element minOccurs="0" name="allReferenceParameters" nillable="true" type="ax279:Map" />
          <xs:element minOccurs="0" name="attributes" nillable="true" type="xs:anyType" />
          <xs:element minOccurs="0" maxOccurs="unbounded" name="extensibleElements" nillable="true" type="xs:anyType" />
          <xs:element minOccurs="0" name="logCorrelationIDString" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="metaData" nillable="true" type="xs:anyType" />
          <xs:element minOccurs="0" name="metadataAttributes" nillable="true" type="xs:anyType" />
          <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="unbounded" name="referenceParameters" nillable="true" type="xs:anyType" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="RelatesTo">
        <xs:sequence>
          <xs:element minOccurs="0" name="extensibilityAttributes" nillable="true" type="xs:anyType" />
          <xs:element minOccurs="0" name="relationshipType" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="value" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
    </xs:schema>
    <xs:schema attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://securevault.wso2.org/xsd">
      <xs:complexType name="SecretResolver">
        <xs:sequence>
          <xs:element minOccurs="0" name="initialized" type="xs:boolean" />
        </xs:sequence>
      </xs:complexType>
    </xs:schema>
    <xs:schema xmlns:ax252="http://transaction.axis2.apache.org/xsd" xmlns:ax241="http://util.java/xsd" xmlns:ax240="http://clustering.axis2.apache.org/xsd" xmlns:ax246="http://net.java/xsd" xmlns:ax244="http://util.deployment.axis2.apache.org/xsd" xmlns:ax228="http://context.axis2.apache.org/xsd" xmlns:ax248="http://securevault.wso2.org/xsd" xmlns:ax250="http://util.axis2.apache.org/xsd" xmlns:ax285="http://description.axis2.apache.org/xsd" attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://engine.axis2.apache.org/xsd">
      <xs:import namespace="http://context.axis2.apache.org/xsd" />
      <xs:import namespace="http://clustering.axis2.apache.org/xsd" />
      <xs:import namespace="http://util.java/xsd" />
      <xs:import namespace="http://util.deployment.axis2.apache.org/xsd" />
      <xs:import namespace="http://net.java/xsd" />
      <xs:import namespace="http://securevault.wso2.org/xsd" />
      <xs:import namespace="http://util.axis2.apache.org/xsd" />
      <xs:import namespace="http://transaction.axis2.apache.org/xsd" />
      <xs:import namespace="http://description.axis2.apache.org/xsd" />
      <xs:complexType name="AxisConfiguration">
        <xs:sequence>
          <xs:element minOccurs="0" name="childFirstClassLoading" type="xs:boolean" />
          <xs:element minOccurs="0" name="clusteringAgent" nillable="true" type="ax240:ClusteringAgent" />
          <xs:element minOccurs="0" name="configurator" nillable="true" type="ax225:AxisConfigurator" />
          <xs:element minOccurs="0" maxOccurs="unbounded" name="faultyModules" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="unbounded" name="faultyServices" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="faultyServicesDuetoModules" nillable="true" type="ax241:Map" />
          <xs:element minOccurs="0" name="globalModules" nillable="true" type="xs:anyType" />
          <xs:element minOccurs="0" name="globalOutPhase" nillable="true" type="xs:anyType" />
          <xs:element minOccurs="0" name="inFaultFlowPhases" nillable="true" type="xs:anyType" />
          <xs:element minOccurs="0" name="inFaultPhases" nillable="true" type="xs:anyType" />
          <xs:element minOccurs="0" name="inFlowPhases" nillable="true" type="xs:anyType" />
          <xs:element minOccurs="0" name="inPhasesUptoAndIncludingPostDispatch" nillable="true" type="xs:anyType" />
          <xs:element minOccurs="0" name="key" nillable="true" type="xs:anyType" />
          <xs:element minOccurs="0" maxOccurs="unbounded" name="localPolicyAssertions" nillable="true" type="xs:anyType" />
          <xs:element minOccurs="0" name="moduleClassLoader" nillable="true" type="xs:anyType" />
          <xs:element minOccurs="0" name="modules" nillable="true" type="xs:anyType" />
          <xs:element minOccurs="0" name="observersList" nillable="true" type="xs:anyType" />
          <xs:element minOccurs="0" name="outFaultFlowPhases" nillable="true" type="xs:anyType" />
          <xs:element minOccurs="0" name="outFaultPhases" nillable="true" type="xs:anyType" />
          <xs:element minOccurs="0" name="outFlowPhases" nillable="true" type="xs:anyType" />
          <xs:element minOccurs="0" name="phasesInfo" nillable="true" type="ax244:PhasesInfo" />
          <xs:element minOccurs="0" name="repository" nillable="true" type="ax246:URL" />
          <xs:element minOccurs="0" name="secretResolver" nillable="true" type="ax248:SecretResolver" />
          <xs:element minOccurs="0" name="serviceClassLoader" nillable="true" type="xs:anyType" />
          <xs:element minOccurs="0" name="serviceGroups" nillable="true" type="ax241:Iterator" />
          <xs:element minOccurs="0" name="services" nillable="true" type="xs:anyType" />
          <xs:element minOccurs="0" name="start" type="xs:boolean" />
          <xs:element minOccurs="0" name="systemClassLoader" nillable="true" type="xs:anyType" />
          <xs:element minOccurs="0" name="targetResolverChain" nillable="true" type="ax250:TargetResolver" />
          <xs:element minOccurs="0" name="transactionConfig" nillable="true" type="ax252:TransactionConfiguration" />
          <xs:element minOccurs="0" name="transactionConfiguration" nillable="true" type="ax252:TransactionConfiguration" />
          <xs:element minOccurs="0" maxOccurs="unbounded" name="transportsIn" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="unbounded" name="transportsOut" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="ListenerManager">
        <xs:sequence>
          <xs:element minOccurs="0" name="configctx" nillable="true" type="ax228:ConfigurationContext" />
          <xs:element minOccurs="0" name="shutdownHookRequired" type="xs:boolean" />
          <xs:element minOccurs="0" name="stopped" type="xs:boolean" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="AxisConfigurator" abstract="true">
        <xs:sequence>
          <xs:element minOccurs="0" name="axisConfiguration" nillable="true" type="ax225:AxisConfiguration" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="ObjectSupplier" abstract="true">
        <xs:sequence />
      </xs:complexType>
      <xs:complexType name="ServiceLifeCycle" abstract="true">
        <xs:sequence />
      </xs:complexType>
      <xs:complexType name="MessageReceiver" abstract="true">
        <xs:sequence />
      </xs:complexType>
      <xs:complexType name="Phase">
        <xs:sequence>
          <xs:element minOccurs="0" name="handlerCount" type="xs:int" />
          <xs:element minOccurs="0" name="handlerDesc" nillable="true" type="ax285:HandlerDescription" />
          <xs:element minOccurs="0" name="handlers" nillable="true" type="xs:anyType" />
          <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="phaseFirst" nillable="true" type="ax225:Handler" />
          <xs:element minOccurs="0" name="phaseLast" nillable="true" type="ax225:Handler" />
          <xs:element minOccurs="0" name="phaseName" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="Handler" abstract="true">
        <xs:sequence>
          <xs:element minOccurs="0" name="handlerDesc" nillable="true" type="ax285:HandlerDescription" />
          <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
    </xs:schema>
    <xs:schema xmlns:ax237="http://context.axis2.apache.org/xsd" xmlns:ax238="http://util.java/xsd" attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://state.clustering.axis2.apache.org/xsd">
      <xs:import namespace="http://context.axis2.apache.org/xsd" />
      <xs:import namespace="http://util.java/xsd" />
      <xs:complexType name="StateManager" abstract="true">
        <xs:sequence>
          <xs:element minOccurs="0" name="configurationContext" nillable="true" type="ax237:ConfigurationContext" />
          <xs:element minOccurs="0" name="replicationExcludePatterns" nillable="true" type="ax238:Map" />
        </xs:sequence>
      </xs:complexType>
    </xs:schema>
    <xs:schema attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://authentication.services.core.carbon.wso2.org/xsd">
      <xs:complexType name="RememberMeData">
        <xs:sequence>
          <xs:element minOccurs="0" name="authenticated" type="xs:boolean" />
          <xs:element minOccurs="0" name="maxAge" type="xs:int" />
          <xs:element minOccurs="0" name="value" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
    </xs:schema>
    <xs:schema xmlns:ax235="http://management.clustering.axis2.apache.org/xsd" xmlns:ax232="http://util.java/xsd" xmlns:ax231="http://context.axis2.apache.org/xsd" xmlns:ax239="http://state.clustering.axis2.apache.org/xsd" attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://clustering.axis2.apache.org/xsd">
      <xs:import namespace="http://context.axis2.apache.org/xsd" />
      <xs:import namespace="http://util.java/xsd" />
      <xs:import namespace="http://management.clustering.axis2.apache.org/xsd" />
      <xs:import namespace="http://state.clustering.axis2.apache.org/xsd" />
      <xs:complexType name="ClusteringAgent" abstract="true">
        <xs:sequence>
          <xs:element minOccurs="0" name="aliveMemberCount" type="xs:int" />
          <xs:element minOccurs="0" name="configurationContext" nillable="true" type="ax231:ConfigurationContext" />
          <xs:element minOccurs="0" name="coordinator" type="xs:boolean" />
          <xs:element minOccurs="0" name="domains" nillable="true" type="ax232:Set" />
          <xs:element minOccurs="0" name="members" nillable="true" type="xs:anyType" />
          <xs:element minOccurs="0" name="nodeManager" nillable="true" type="ax235:NodeManager" />
          <xs:element minOccurs="0" name="stateManager" nillable="true" type="ax239:StateManager" />
        </xs:sequence>
      </xs:complexType>
    </xs:schema>
    <xs:schema xmlns:ax258="http://util.java/xsd" attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://java2wsdl.description.axis2.apache.org/xsd">
      <xs:import namespace="http://util.java/xsd" />
      <xs:complexType name="TypeTable">
        <xs:sequence>
          <xs:element minOccurs="0" name="complexSchemaMap" nillable="true" type="ax258:Map" />
        </xs:sequence>
      </xs:complexType>
    </xs:schema>
  </wsdl:types>
  <wsdl:message name="logoutRequest">
    <wsdl:part name="parameters" element="ns:logout" />
  </wsdl:message>
  <wsdl:message name="AuthenticationAdminAuthenticationException">
    <wsdl:part name="parameters" element="ns:AuthenticationAdminAuthenticationException" />
  </wsdl:message>
  <wsdl:message name="loginWithRememberMeCookieRequest">
    <wsdl:part name="parameters" element="ns:loginWithRememberMeCookie" />
  </wsdl:message>
  <wsdl:message name="loginWithRememberMeCookieResponse">
    <wsdl:part name="parameters" element="ns:loginWithRememberMeCookieResponse" />
  </wsdl:message>
  <wsdl:message name="authenticateWithRememberMeRequest">
    <wsdl:part name="parameters" element="ns:authenticateWithRememberMe" />
  </wsdl:message>
  <wsdl:message name="authenticateWithRememberMeResponse">
    <wsdl:part name="parameters" element="ns:authenticateWithRememberMeResponse" />
  </wsdl:message>
  <wsdl:message name="getAuthenticatorNameRequest">
    <wsdl:part name="parameters" element="ns:getAuthenticatorName" />
  </wsdl:message>
  <wsdl:message name="getAuthenticatorNameResponse">
    <wsdl:part name="parameters" element="ns:getAuthenticatorNameResponse" />
  </wsdl:message>
  <wsdl:message name="loginWithRememberMeOptionRequest">
    <wsdl:part name="parameters" element="ns:loginWithRememberMeOption" />
  </wsdl:message>
  <wsdl:message name="loginWithRememberMeOptionResponse">
    <wsdl:part name="parameters" element="ns:loginWithRememberMeOptionResponse" />
  </wsdl:message>
  <wsdl:message name="loginRequest">
    <wsdl:part name="parameters" element="ns:login" />
  </wsdl:message>
  <wsdl:message name="loginResponse">
    <wsdl:part name="parameters" element="ns:loginResponse" />
  </wsdl:message>
  <wsdl:message name="isDisabledRequest">
    <wsdl:part name="parameters" element="ns:isDisabled" />
  </wsdl:message>
  <wsdl:message name="isDisabledResponse">
    <wsdl:part name="parameters" element="ns:isDisabledResponse" />
  </wsdl:message>
  <wsdl:message name="getPriorityRequest">
    <wsdl:part name="parameters" element="ns:getPriority" />
  </wsdl:message>
  <wsdl:message name="getPriorityResponse">
    <wsdl:part name="parameters" element="ns:getPriorityResponse" />
  </wsdl:message>
  <wsdl:portType name="AuthenticationAdminPortType">
    <wsdl:operation name="logout">
      <wsdl:input wsaw:Action="urn:logout" message="ns:logoutRequest" />
      <wsdl:fault wsaw:Action="urn:logoutAuthenticationAdminAuthenticationException" name="AuthenticationAdminAuthenticationException" message="ns:AuthenticationAdminAuthenticationException" />
    </wsdl:operation>
    <wsdl:operation name="loginWithRememberMeCookie">
      <wsdl:input wsaw:Action="urn:loginWithRememberMeCookie" message="ns:loginWithRememberMeCookieRequest" />
      <wsdl:output wsaw:Action="urn:loginWithRememberMeCookieResponse" message="ns:loginWithRememberMeCookieResponse" />
    </wsdl:operation>
    <wsdl:operation name="authenticateWithRememberMe">
      <wsdl:input wsaw:Action="urn:authenticateWithRememberMe" message="ns:authenticateWithRememberMeRequest" />
      <wsdl:output wsaw:Action="urn:authenticateWithRememberMeResponse" message="ns:authenticateWithRememberMeResponse" />
    </wsdl:operation>
    <wsdl:operation name="getAuthenticatorName">
      <wsdl:input wsaw:Action="urn:getAuthenticatorName" message="ns:getAuthenticatorNameRequest" />
      <wsdl:output wsaw:Action="urn:getAuthenticatorNameResponse" message="ns:getAuthenticatorNameResponse" />
    </wsdl:operation>
    <wsdl:operation name="loginWithRememberMeOption">
      <wsdl:input wsaw:Action="urn:loginWithRememberMeOption" message="ns:loginWithRememberMeOptionRequest" />
      <wsdl:output wsaw:Action="urn:loginWithRememberMeOptionResponse" message="ns:loginWithRememberMeOptionResponse" />
      <wsdl:fault wsaw:Action="urn:loginWithRememberMeOptionAuthenticationAdminAuthenticationException" name="AuthenticationAdminAuthenticationException" message="ns:AuthenticationAdminAuthenticationException" />
    </wsdl:operation>
    <wsdl:operation name="login">
      <wsdl:input wsaw:Action="urn:login" message="ns:loginRequest" />
      <wsdl:output wsaw:Action="urn:loginResponse" message="ns:loginResponse" />
      <wsdl:fault wsaw:Action="urn:loginAuthenticationAdminAuthenticationException" name="AuthenticationAdminAuthenticationException" message="ns:AuthenticationAdminAuthenticationException" />
    </wsdl:operation>
    <wsdl:operation name="isDisabled">
      <wsdl:input wsaw:Action="urn:isDisabled" message="ns:isDisabledRequest" />
      <wsdl:output wsaw:Action="urn:isDisabledResponse" message="ns:isDisabledResponse" />
    </wsdl:operation>
    <wsdl:operation name="getPriority">
      <wsdl:input wsaw:Action="urn:getPriority" message="ns:getPriorityRequest" />
      <wsdl:output wsaw:Action="urn:getPriorityResponse" message="ns:getPriorityResponse" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="AuthenticationAdminSoap11Binding" type="ns:AuthenticationAdminPortType">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="logout">
      <soap:operation soapAction="urn:logout" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:fault name="AuthenticationAdminAuthenticationException">
        <soap:fault use="literal" name="AuthenticationAdminAuthenticationException" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="loginWithRememberMeCookie">
      <soap:operation soapAction="urn:loginWithRememberMeCookie" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="authenticateWithRememberMe">
      <soap:operation soapAction="urn:authenticateWithRememberMe" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getAuthenticatorName">
      <soap:operation soapAction="urn:getAuthenticatorName" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="login">
      <soap:operation soapAction="urn:login" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="AuthenticationAdminAuthenticationException">
        <soap:fault use="literal" name="AuthenticationAdminAuthenticationException" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="loginWithRememberMeOption">
      <soap:operation soapAction="urn:loginWithRememberMeOption" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="AuthenticationAdminAuthenticationException">
        <soap:fault use="literal" name="AuthenticationAdminAuthenticationException" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="isDisabled">
      <soap:operation soapAction="urn:isDisabled" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getPriority">
      <soap:operation soapAction="urn:getPriority" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="AuthenticationAdminSoap12Binding" type="ns:AuthenticationAdminPortType">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="logout">
      <soap12:operation soapAction="urn:logout" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:fault name="AuthenticationAdminAuthenticationException">
        <soap12:fault use="literal" name="AuthenticationAdminAuthenticationException" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="loginWithRememberMeCookie">
      <soap12:operation soapAction="urn:loginWithRememberMeCookie" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="authenticateWithRememberMe">
      <soap12:operation soapAction="urn:authenticateWithRememberMe" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getAuthenticatorName">
      <soap12:operation soapAction="urn:getAuthenticatorName" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="login">
      <soap12:operation soapAction="urn:login" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="AuthenticationAdminAuthenticationException">
        <soap12:fault use="literal" name="AuthenticationAdminAuthenticationException" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="loginWithRememberMeOption">
      <soap12:operation soapAction="urn:loginWithRememberMeOption" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="AuthenticationAdminAuthenticationException">
        <soap12:fault use="literal" name="AuthenticationAdminAuthenticationException" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="isDisabled">
      <soap12:operation soapAction="urn:isDisabled" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getPriority">
      <soap12:operation soapAction="urn:getPriority" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="AuthenticationAdminHttpBinding" type="ns:AuthenticationAdminPortType">
    <http:binding verb="POST" />
    <wsdl:operation name="logout">
      <http:operation location="logout" />
      <wsdl:input>
        <mime:content part="parameters" type="text/xml" />
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="loginWithRememberMeCookie">
      <http:operation location="loginWithRememberMeCookie" />
      <wsdl:input>
        <mime:content part="parameters" type="text/xml" />
      </wsdl:input>
      <wsdl:output>
        <mime:content part="parameters" type="text/xml" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="authenticateWithRememberMe">
      <http:operation location="authenticateWithRememberMe" />
      <wsdl:input>
        <mime:content part="parameters" type="text/xml" />
      </wsdl:input>
      <wsdl:output>
        <mime:content part="parameters" type="text/xml" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getAuthenticatorName">
      <http:operation location="getAuthenticatorName" />
      <wsdl:input>
        <mime:content part="parameters" type="text/xml" />
      </wsdl:input>
      <wsdl:output>
        <mime:content part="parameters" type="text/xml" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="login">
      <http:operation location="login" />
      <wsdl:input>
        <mime:content part="parameters" type="text/xml" />
      </wsdl:input>
      <wsdl:output>
        <mime:content part="parameters" type="text/xml" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="loginWithRememberMeOption">
      <http:operation location="loginWithRememberMeOption" />
      <wsdl:input>
        <mime:content part="parameters" type="text/xml" />
      </wsdl:input>
      <wsdl:output>
        <mime:content part="parameters" type="text/xml" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="isDisabled">
      <http:operation location="isDisabled" />
      <wsdl:input>
        <mime:content part="parameters" type="text/xml" />
      </wsdl:input>
      <wsdl:output>
        <mime:content part="parameters" type="text/xml" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getPriority">
      <http:operation location="getPriority" />
      <wsdl:input>
        <mime:content part="parameters" type="text/xml" />
      </wsdl:input>
      <wsdl:output>
        <mime:content part="parameters" type="text/xml" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="AuthenticationAdmin">
    <wsdl:port name="AuthenticationAdminHttpsSoap11Endpoint" binding="ns:AuthenticationAdminSoap11Binding">
      <soap:address location="https://localhost:9443/services/AuthenticationAdmin.AuthenticationAdminHttpsSoap11Endpoint/" />
    </wsdl:port>
    <wsdl:port name="AuthenticationAdminHttpsSoap12Endpoint" binding="ns:AuthenticationAdminSoap12Binding">
      <soap12:address location="https://localhost:9443/services/AuthenticationAdmin.AuthenticationAdminHttpsSoap12Endpoint/" />
    </wsdl:port>
    <wsdl:port name="AuthenticationAdminHttpsEndpoint" binding="ns:AuthenticationAdminHttpBinding">
      <http:address location="https://localhost:9443/services/AuthenticationAdmin.AuthenticationAdminHttpsEndpoint/" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>